@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

$outfit: 'Outfit', sans-serif;
$black: #111111;
$orange: #ED8B37;
$light_orange: rgba(237, 140, 55, 0.502);
$error: #F2645D;
$shadow_error: 0 0 0 0.2rem #F2645D80;
$shadow_orange: 0 0 0 0.2rem #ed8c3780;
$shadow_green: 0 0 0 0.2rem #dde4ce80;
$green: #DDE4CE;
$light_green: rgba(221, 228, 206, 0.502);
$dark_green: #B8C799;
$gray: #CED4DA;
$dark_gray: #6C757D;

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Outfit', sans-serif;
    color: $black;
}

.container {
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#landingPage{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 160px;
    .landing_image{
        width: 580px;
        border-radius: 10px;
    }
    .headline_group{
        min-width: 538px;
        h1{
            font: 700 24px/30px $outfit;
            margin-bottom: 4px;
        }
        h2{
            font: 400 16px/20px $outfit;
        }
        .btn-primary{
            width: 100%;
            background-color: $orange;
            color: $black;
            border-color: $orange;
            transition: all 0.21s ease-in-out;
            &:hover{
                opacity: 0.9;
            }
            &:focus{
                box-shadow: $shadow_orange;
            }
        }
    }
    @media (max-width: 1024px) {
        column-gap: 40px;
        .landing_image{
            width: 400px;
        }
        .headline_group{
            min-width: 400px;
        }
    }
    @media (max-width: 768px) {
        text-align: center;
        flex-direction: column;
        row-gap: 40px;
    }
    @media (max-width: 425px) {
        .landing_image,
        .headline_group{
            min-width: calc(100%);
            // padding: 16px;
        }
    }
}

.form-control{
    &:focus{
        border-color: $light_orange;
        box-shadow: $shadow_orange;
    }
    &.empty{
        border-color: $error;
        box-shadow: $shadow_error;
        &:not(:placeholder-shown){
            border-color: $light_orange;
            box-shadow: $shadow_orange;
        }
       
    }
}

#mainPage {
    display: none;
    .btn-secondary{
        padding: 9px 11.52px;
        background-color: $gray;
        border-color: $gray;
        color: $dark_gray;
        display: block;
        margin: 80px 40px 40px auto;
        transition: all 0.21s ease-in-out;
        &::before{
            margin-right: 8px;
            content: '';
            display: inline-block;
            width: 20px;
            background: url('./assets/img/exit_icon.svg');
            height: 20px;
            vertical-align: sub;
        }
        &:hover{
            filter: brightness(0.9);
        }
    }
    .todo_container {
        padding: 40px;
        border-radius: 10px;
        background-color: $green;
        .d-flex {
            column-gap: 16px;
        }
        h1{
            font: 700 24px/30px $outfit;
            margin-bottom: 26px;
            #username{
                text-transform: uppercase;
            }
            .message{
                display: block;
            }
        }
        .form-group{
            .form-control{
                background-color: $green;
            }
            .btn-primary{
                padding: 9px 10.36px;
                background-color: $orange;
                border-color: $orange;
                color: $black;
                display: block;
                transition: all 0.21s ease-in-out;
                &::before{
                    margin-right: 8px;
                    content: '';
                    display: inline-block;
                    width: 20px;
                    background: url('./assets/img/add_icon.svg');
                    height: 20px;
                    vertical-align: sub;
                }
                &:hover{
                    opacity: 0.9;
                }
                &:focus{
                    box-shadow: $shadow_orange;
                }
            }
        }
        #itemList {
            .form-check-input {
                display: none;
            }
            .list-group-item {
                user-select: none;
                display: flex;
                justify-content: space-between;
                background-color: transparent;
                cursor: pointer;
                &.list-group-item-success {
                    background-color: $dark_green;
                    label {
                        text-decoration: line-through;
                    }
                }
            } 
            
        }
    }
}