@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

$black: #111111;
$dark_gray: #6C757D;
$dark_green: #B8C799;
$error: #F2645D;
$gray: #CED4DA;
$green: #DDE4CE;
$light_green: rgba(221, 228, 206, 0.502);
$light_orange: rgba(237, 140, 55, 0.502);
$orange: #ED8B37;
$outfit: 'Outfit', sans-serif;
$shadow_error: 0 0 0 0.2rem #F2645D80;
$shadow_green: 0 0 0 0.2rem #dde4ce80;
$shadow_orange: 0 0 0 0.2rem #ed8c3780;

*{
    box-sizing: 0;
    color: $black;
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    align-items: center;
    height: 100vh;
    justify-content: center;
}

#landingPage{
    align-items: center;
    column-gap: 160px;
    display: flex;
    height: 100%;
    justify-content: center;
    .landing_image{
        border-radius: 10px;
        width: 580px;
    }
    .headline_group{
        min-width: 538px;
        h1{
            font: 700 24px/30px $outfit;
            margin-bottom: 4px;
        }
        h2{
            font: 400 16px/20px $outfit;
        }
        .btn-primary{
            background-color: $orange;
            border-color: $orange;
            color: $black;
            transition: all 0.21s ease-in-out;
            width: 100%;
            &:hover{
                opacity: 0.9;
            }
            &:focus{
                box-shadow: $shadow_orange;
            }
        }
    }
    @media (max-width: 1024px) {
        column-gap: 40px;
        .landing_image{
            width: 400px;
        }
        .headline_group{
            min-width: 400px;
        }
    }
    @media (max-width: 768px) {
        flex-direction: column;
        row-gap: 40px;
        text-align: center;
    }
    @media (max-width: 425px) {
        .landing_image,
        .headline_group{
            min-width: calc(100%);
        }
    }
}

.form-control{
    &:focus{
        border-color: $light_orange;
        box-shadow: $shadow_orange;
    }
    &.empty{
        border-color: $error;
        box-shadow: $shadow_error;
        &:not(:placeholder-shown){
            border-color: $light_orange;
            box-shadow: $shadow_orange;
        }
       
    }
}

#mainPage {
    display: none;
    .btn-secondary{
        background-color: $gray;
        border-color: $gray;
        color: $dark_gray;
        display: block;
        margin: 80px 40px 40px auto;
        padding: 9px 11.52px;
        transition: all 0.21s ease-in-out;
        &::before{
            background: url('../img/exit_icon.svg');
            content: '';
            display: inline-block;
            height: 20px;
            margin-right: 8px;
            vertical-align: sub;
            width: 20px;
        }
        &:hover{
            filter: brightness(0.9);
        }
    }
    .todo_container {
        background-color: $green;
        border-radius: 10px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        .d-flex {
            column-gap: 16px;
            margin-bottom: 0;
        }
        @media (max-width: 425px) {
            min-width: 290px;
            .d-flex{
                flex-direction: column;
                row-gap: 16px;
                text-align: center;
            }
        }
        h1{
            font: 700 24px/30px $outfit;
            margin-bottom: 0;
            #username{
                text-transform: uppercase;
            }
            .message{
                display: block;
            }
        }
        .form-group{
            .form-control{
                background-color: $green;
            }
            .btn-primary{
                background-color: $orange;
                border-color: $orange;
                color: $black;
                display: block;
                padding: 9px 10.36px;
                transition: all 0.21s ease-in-out;
                &::before{
                    background: url('../img/add_icon.svg');
                    content: '';
                    display: inline-block;
                    height: 20px;
                    margin-right: 8px;
                    vertical-align: sub;
                    width: 20px;
                }
                &:hover{
                    opacity: 0.9;
                }
                &:focus{
                    box-shadow: $shadow_orange;
                }
            }
        }
        #itemList {
            .form-check-input {
                display: none;
            }
            .list-group-item {
                background-color: transparent;
                cursor: pointer;
                display: flex;
                justify-content: space-between;
                user-select: none;
                label{
                    color: $dark_gray;
                    font: 16px/30px $outfit;
                }
                &:hover{
                    .btn-danger{
                        pointer-events: auto;
                        &::before{
                            animation: fade-in 0.21s ease-in-out;
                            opacity: 1;
                        }
                        @keyframes fade-in {
                            from {
                              opacity: 0;
                            }
                            to {
                              opacity: 1;
                            }
                        }
                    }
                }
                .btn-danger{
                    background-color: transparent;
                    border: none;
                    transition: all 0.21s ease-in-out;
                    pointer-events: none;
                    &::before{
                        background: url('../img/delete_icon.svg');
                        content: '';
                        display: inline-block;
                        height: 21px;
                        opacity: 0;
                        vertical-align: sub;
                        width: 16px;
                    }
                    &:focus{
                        box-shadow: none;
                    }
                }
                &.list-group-item-success {
                    background-color: $dark_green;
                    label {
                        text-decoration: line-through;
                    }
                }
            } 
            
        }
    }
}